
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post" class="uk-form" action="/register/">
        {% csrf_token %}
        <input type="text" name="playa_name" id="playa_name" placeholder="Playa Name">
        <input type="text" name="first_name" id="first_name" placeholder="First Name">
        <input type="text" name="last_name" id="last_name" placeholder="Last Name">
        <input type="text" name="city" id="city" placeholder="Black rock city" />
        <input type="text" name="address" id="address" placeholder="Seven and half and C">
        <input type="checkbox" default name="is_willing_to_get" id="is_willing_to_get" checked />
		<button>Register</button>
    </form>
</body>
</html>